In [102]:
import pandas as pd
import numpy as np

In [103]:
data=pd.read_parquet('/Users/emanueledurante/Desktop/predictions/ridge_predictions.parquet')

In [104]:
data.head()

             DATETIME  predicted_return SYMBOL
0 2021-12-27 10:30:00         -0.000088      A
1 2021-12-27 10:40:00         -0.000009      A
2 2021-12-27 10:50:00         -0.000029      A
3 2021-12-27 11:00:00         -0.000032      A
4 2021-12-27 11:10:00         -0.000042      A

In [105]:
pred_df = data.pivot(index="DATETIME", columns="SYMBOL", values="predicted_return")

In [106]:
pred_df.fillna(0)

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
DATETIME,,,,,,,,,,,,,,,,,,,,,
2021-12-27 10:30:00,-0.000088,0.000058,0.000052,0.000000e+00,0.000000,0.000783,0.000000,-0.000037,-0.000622,0.000000,...,-0.000298,-0.000479,-0.000455,0.001972,0.000000,-0.000213,-0.001137,-0.001177,0.000857,-0.001357
2021-12-27 10:40:00,-0.000009,-0.001922,-0.000022,0.000000e+00,0.003890,0.000910,0.000000,-0.000106,-0.001357,0.000000,...,-0.000229,-0.000148,0.000745,-0.001310,0.000000,0.000256,-0.000759,-0.000006,-0.000036,0.001197
2021-12-27 10:50:00,-0.000029,-0.000295,-0.000013,0.000000e+00,-0.004114,0.001137,0.000000,-0.000112,0.000271,0.000000,...,0.000494,-0.000206,0.000020,0.000184,0.000000,-0.000009,-0.000658,0.000124,0.000701,-0.000032
2021-12-27 11:00:00,-0.000032,0.000549,0.000018,0.000000e+00,0.001956,0.001894,0.000000,-0.000115,-0.000230,0.000000,...,0.000177,-0.000580,-0.000095,0.000113,0.000359,-0.000143,-0.000173,0.000524,0.000749,-0.000277
2021-12-27 11:10:00,-0.000042,0.000735,0.000049,0.000000e+00,0.000000,0.001544,0.000720,-0.000141,-0.001116,-0.001818,...,0.000117,-0.000381,0.000266,-0.001440,0.000000,-0.000334,0.000714,-0.000008,-0.000948,0.000375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31 15:00:00,0.000049,0.000469,0.000043,-7.988756e-07,-0.000874,0.000547,0.000198,0.000090,-0.000311,0.000690,...,0.000110,0.000326,0.000144,0.001045,0.000132,0.000146,0.000820,0.000727,0.000789,-0.000631
2021-12-31 15:10:00,0.000062,0.000041,0.000035,-7.988756e-07,-0.000704,0.000216,0.000000,0.000000,-0.000318,-0.000840,...,-0.000048,-0.000287,-0.000023,0.000560,-0.000253,-0.000192,0.000633,-0.001499,0.000603,0.000214
2021-12-31 15:20:00,-0.000056,-0.000332,-0.000021,-7.988756e-07,0.000377,-0.000305,0.000000,0.000107,-0.000305,-0.000573,...,0.000247,-0.000120,-0.000100,-0.000248,-0.000011,-0.000066,-0.000408,-0.000169,-0.000698,0.000600
2021-12-31 15:30:00,-0.000016,0.000114,0.000037,-2.948574e-04,0.000535,0.000611,0.000000,0.000110,-0.000264,-0.000613,...,0.000180,0.000300,-0.000029,-0.000236,-0.000250,-0.000019,-0.000439,0.000890,0.000576,0.000818
2021-12-31 15:40:00,0.000046,0.000450,0.000002,-1.683533e-04,0.000365,0.001709,0.000310,0.000137,-0.000218,-0.001009,...,-0.000065,-0.000042,-0.000030,-0.000038,-0.000410,-0.000072,0.000114,0.000039,0.000984,0.000116

In [107]:
actual_dataset=pd.read_parquet('/Users/emanueledurante/Desktop/LGMB/lausanne/epfl/MLfinance/High-Frequency-Trading-with-Deep-Learning/data/high_10m.parquet')

In [108]:
actual_dataset.head()

        DATE SYMBOL      TIME            ALL_EX  MID_OPEN  SUM_DELTA    RETURN
0 2021-12-01      A  09:30:00   DNYBTJVPCZUKXHA   152.190  -8.401819  0.000000
1 2021-12-01      A  09:40:00   PBTJVDZUYKNHCXM   150.490   0.473357 -0.011170
2 2021-12-01      A  09:50:00    KDPBTJVNZUCXYH   151.475 -10.867709  0.006545
3 2021-12-01      A  10:00:00   DABTJNKYVPZUXCH   150.510  -0.125414 -0.006371
4 2021-12-01      A  10:10:00  DVJTPNKUZYACBXHM   151.960  -1.274648  0.009634

In [109]:
actual_dataset=actual_dataset.drop(columns=['ALL_EX','MID_OPEN','SUM_DELTA'])

In [110]:
actual_dataset['DATETIME'] = pd.to_datetime(actual_dataset['DATE'].astype(str) + ' ' + actual_dataset['TIME'].astype(str))

In [111]:
actual_dataset.head()

        DATE SYMBOL      TIME    RETURN            DATETIME
0 2021-12-01      A  09:30:00  0.000000 2021-12-01 09:30:00
1 2021-12-01      A  09:40:00 -0.011170 2021-12-01 09:40:00
2 2021-12-01      A  09:50:00  0.006545 2021-12-01 09:50:00
3 2021-12-01      A  10:00:00 -0.006371 2021-12-01 10:00:00
4 2021-12-01      A  10:10:00  0.009634 2021-12-01 10:10:00

In [112]:
actual_dataset=actual_dataset.drop(columns=['TIME','DATE'])

In [113]:
actual_dataset.head()

  SYMBOL    RETURN            DATETIME
0      A  0.000000 2021-12-01 09:30:00
1      A -0.011170 2021-12-01 09:40:00
2      A  0.006545 2021-12-01 09:50:00
3      A -0.006371 2021-12-01 10:00:00
4      A  0.009634 2021-12-01 10:10:00

In [114]:
actual_dataset= actual_dataset.pivot(index="DATETIME", columns="SYMBOL", values="RETURN")

In [115]:
actual_dataset.head()

SYMBOL,A,AA,AAA,AAAU,AAC,AACG,AACI,AADI,AADR,AAIC,...,ZUMZ,ZUO,ZVIA,ZVO,ZWRK,ZWS,ZY,ZYME,ZYNE,ZYXI
DATETIME,,,,,,,,,,,,,,,,,,,,,
2021-12-01 09:30:00,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
2021-12-01 09:40:00,-0.011170,-0.021582,0.0,0.001127,0.001023,NaN,0.0,0.029950,NaN,-0.001366,...,-0.020711,-0.009604,-0.037604,-0.032609,NaN,0.002237,-0.042117,0.007138,0.004310,-0.009535
2021-12-01 09:50:00,0.006545,0.003212,NaN,0.000000,0.000000,0.030675,NaN,0.000231,0.006585,0.000000,...,0.008159,-0.006464,-0.003311,-0.014981,NaN,0.003347,0.009583,-0.000733,0.005722,0.004621
2021-12-01 10:00:00,-0.006371,0.011954,0.0,0.000563,0.000000,-0.005952,NaN,0.004615,0.004308,0.000000,...,0.009584,0.007257,-0.013289,0.007605,NaN,0.005143,0.016750,0.002690,0.002845,-0.009199
2021-12-01 10:10:00,0.009634,0.011497,0.0,0.001125,0.000000,0.000000,NaN,-0.003215,NaN,-0.001368,...,0.001582,0.003975,0.016835,0.007547,NaN,0.000415,0.018671,0.015122,0.005674,0.010058

In [116]:
predicted_col=pred_df.columns

In [117]:
actual_dataset=actual_dataset[predicted_col]

In [118]:
actual_dataset.head()

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
DATETIME,,,,,,,,,,,,,,,,,,,,,
2021-12-01 09:30:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2021-12-01 09:40:00,-0.011170,-0.021582,0.001127,0.001023,NaN,0.029950,NaN,-0.001366,0.002510,0.011811,...,-0.013022,-0.020711,-0.009604,-0.037604,-0.032609,0.002237,-0.042117,0.007138,0.004310,-0.009535
2021-12-01 09:50:00,0.006545,0.003212,0.000000,0.000000,0.030675,0.000231,0.006585,0.000000,-0.003338,NaN,...,0.002884,0.008159,-0.006464,-0.003311,-0.014981,0.003347,0.009583,-0.000733,0.005722,0.004621
2021-12-01 10:00:00,-0.006371,0.011954,0.000563,0.000000,-0.005952,0.004615,0.004308,0.000000,0.003907,0.000000,...,-0.006521,0.009584,0.007257,-0.013289,0.007605,0.005143,0.016750,0.002690,0.002845,-0.009199
2021-12-01 10:10:00,0.009634,0.011497,0.001125,0.000000,0.000000,-0.003215,NaN,-0.001368,-0.002224,NaN,...,0.007453,0.001582,0.003975,0.016835,0.007547,0.000415,0.018671,0.015122,0.005674,0.010058

In [ ]:
first_date=pred_df.index[0]
actual_df=actual_dataset.loc[first_date:,:]
print(actual_df.shape,pred_df.shape)
print(pred_df.index[0])
print(actual_df.index[0])

(184, 7735) (160, 7735)
2021-12-27 10:30:00
2021-12-27 10:30:00

In [130]:
pred_df.tail(5)

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
DATETIME,,,,,,,,,,,,,,,,,,,,,
2021-12-31 15:00:00,0.000049,0.000469,0.000043,-7.988756e-07,-0.000874,0.000547,0.000198,0.000090,-0.000311,0.000690,...,0.000110,0.000326,0.000144,0.001045,0.000132,0.000146,0.000820,0.000727,0.000789,-0.000631
2021-12-31 15:10:00,0.000062,0.000041,0.000035,-7.988756e-07,-0.000704,0.000216,NaN,NaN,-0.000318,-0.000840,...,-0.000048,-0.000287,-0.000023,0.000560,-0.000253,-0.000192,0.000633,-0.001499,0.000603,0.000214
2021-12-31 15:20:00,-0.000056,-0.000332,-0.000021,-7.988756e-07,0.000377,-0.000305,NaN,0.000107,-0.000305,-0.000573,...,0.000247,-0.000120,-0.000100,-0.000248,-0.000011,-0.000066,-0.000408,-0.000169,-0.000698,0.000600
2021-12-31 15:30:00,-0.000016,0.000114,0.000037,-2.948574e-04,0.000535,0.000611,NaN,0.000110,-0.000264,-0.000613,...,0.000180,0.000300,-0.000029,-0.000236,-0.000250,-0.000019,-0.000439,0.000890,0.000576,0.000818
2021-12-31 15:40:00,0.000046,0.000450,0.000002,-1.683533e-04,0.000365,0.001709,0.000310,0.000137,-0.000218,-0.001009,...,-0.000065,-0.000042,-0.000030,-0.000038,-0.000410,-0.000072,0.000114,0.000039,0.000984,0.000116

In [ ]:
actual_df = actual_df.loc[actual_df.index.isin(pred_df.index)]

In [86]:
actual_df=actual_dataset.loc['2021-12-27 10:30:00':,:]

In [87]:
actual_df.head()

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
DATETIME,,,,,,,,,,,,,,,,,,,,,
2021-12-27 10:30:00,0.003066,0.007423,0.000000,NaN,NaN,0.001384,NaN,0.002813,-0.001113,-0.001580,...,-0.000718,0.001911,0.003309,-0.011847,NaN,0.003878,0.006812,0.004041,0.003180,0.002816
2021-12-27 10:40:00,-0.002868,0.008385,0.001111,NaN,0.0,-0.000197,0.000392,0.000000,0.000557,NaN,...,-0.000657,-0.001166,0.002029,-0.002821,NaN,0.000138,0.013532,-0.001548,-0.006339,0.000936
2021-12-27 10:50:00,-0.000379,-0.002940,-0.000555,NaN,0.0,-0.012443,NaN,0.000000,0.000557,NaN,...,0.000534,0.001379,0.000759,0.000000,NaN,0.003172,0.005340,-0.001240,-0.003190,-0.006545
2021-12-27 11:00:00,-0.001359,0.000084,0.000000,NaN,0.0,0.002800,NaN,0.002805,0.006120,-0.022152,...,-0.000821,0.001377,0.003036,-0.002122,0.0,0.001375,0.009296,0.010866,0.006400,0.015529
2021-12-27 11:10:00,0.001235,-0.001853,0.000000,NaN,NaN,-0.003989,0.003840,0.000000,-0.000553,0.000000,...,-0.000205,0.003068,0.000504,0.003544,NaN,0.000412,0.002632,0.000000,0.000000,0.001854

In [88]:
actual_df = actual_df.reset_index(drop=True)
pred_df=pred_df.reset_index(drop=True)
actual_df.head()

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
0,0.003066,0.007423,0.000000,NaN,NaN,0.001384,NaN,0.002813,-0.001113,-0.001580,...,-0.000718,0.001911,0.003309,-0.011847,NaN,0.003878,0.006812,0.004041,0.003180,0.002816
1,-0.002868,0.008385,0.001111,NaN,0.0,-0.000197,0.000392,0.000000,0.000557,NaN,...,-0.000657,-0.001166,0.002029,-0.002821,NaN,0.000138,0.013532,-0.001548,-0.006339,0.000936
2,-0.000379,-0.002940,-0.000555,NaN,0.0,-0.012443,NaN,0.000000,0.000557,NaN,...,0.000534,0.001379,0.000759,0.000000,NaN,0.003172,0.005340,-0.001240,-0.003190,-0.006545
3,-0.001359,0.000084,0.000000,NaN,0.0,0.002800,NaN,0.002805,0.006120,-0.022152,...,-0.000821,0.001377,0.003036,-0.002122,0.0,0.001375,0.009296,0.010866,0.006400,0.015529
4,0.001235,-0.001853,0.000000,NaN,NaN,-0.003989,0.003840,0.000000,-0.000553,0.000000,...,-0.000205,0.003068,0.000504,0.003544,NaN,0.000412,0.002632,0.000000,0.000000,0.001854

In [91]:
actual_df.describe()

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
count,184.000000,184.000000,182.000000,137.000000,164.000000,184.000000,70.000000,179.000000,184.000000,139.000000,...,184.000000,184.000000,184.000000,184.000000,173.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,0.000088,0.000166,0.000074,-0.000026,-0.000998,0.000593,0.000141,0.000082,0.000126,-0.001046,...,-0.000029,0.000027,-0.000215,-0.000047,-0.000697,0.000059,-0.000606,0.000174,-0.000594,-0.000318
std,0.001522,0.003679,0.000647,0.000235,0.010150,0.008691,0.001086,0.002462,0.002728,0.016386,...,0.001119,0.003888,0.003450,0.005382,0.008915,0.001705,0.008631,0.007904,0.004233,0.004923
min,-0.004838,-0.013646,-0.001667,-0.001537,-0.048035,-0.012443,-0.003514,-0.007013,-0.010908,-0.082090,...,-0.004587,-0.022595,-0.028037,-0.017519,-0.062271,-0.006963,-0.068436,-0.018606,-0.013445,-0.019487
25%,-0.000636,-0.001279,0.000000,0.000000,-0.004587,-0.002532,-0.000058,0.000000,-0.001106,-0.003359,...,-0.000701,-0.001449,-0.001580,-0.002830,0.000000,-0.000855,-0.003538,-0.003766,-0.003364,-0.002906
50%,0.000016,0.000168,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.000020,-0.000205,-0.000260,0.000000,0.000000,0.000000,-0.000677,-0.000308,0.000000,-0.000494
75%,0.000733,0.001428,0.000551,0.000000,0.000000,0.002283,0.000391,0.000000,0.001107,0.001595,...,0.000590,0.001737,0.001525,0.002176,0.000000,0.000685,0.002941,0.003175,0.000000,0.001989
max,0.010941,0.029792,0.003349,0.001027,0.072115,0.100200,0.003840,0.018414,0.013278,0.138614,...,0.005256,0.030204,0.008576,0.014286,0.031621,0.006669,0.032689,0.044850,0.016978,0.015529

In [97]:
returns_array = pred_df.iloc[10].to_numpy()

In [98]:
returns_array

array([ 2.41397020e-04, -1.65570806e-04,  1.24946328e-06, ...,
       -7.64350242e-04,  3.54392871e-04, -3.31202727e-04])

In [99]:
actual_df.shape

(184, 7735)

In [100]:
pred_df.shape

(160, 7735)

In [101]:
actual_df.head()

SYMBOL,A,AA,AAAU,AAC,AACG,AADI,AADR,AAIC,AAL,AAME,...,ZTS,ZUMZ,ZUO,ZVIA,ZVO,ZWS,ZY,ZYME,ZYNE,ZYXI
0,0.003066,0.007423,0.000000,NaN,NaN,0.001384,NaN,0.002813,-0.001113,-0.001580,...,-0.000718,0.001911,0.003309,-0.011847,NaN,0.003878,0.006812,0.004041,0.003180,0.002816
1,-0.002868,0.008385,0.001111,NaN,0.0,-0.000197,0.000392,0.000000,0.000557,NaN,...,-0.000657,-0.001166,0.002029,-0.002821,NaN,0.000138,0.013532,-0.001548,-0.006339,0.000936
2,-0.000379,-0.002940,-0.000555,NaN,0.0,-0.012443,NaN,0.000000,0.000557,NaN,...,0.000534,0.001379,0.000759,0.000000,NaN,0.003172,0.005340,-0.001240,-0.003190,-0.006545
3,-0.001359,0.000084,0.000000,NaN,0.0,0.002800,NaN,0.002805,0.006120,-0.022152,...,-0.000821,0.001377,0.003036,-0.002122,0.0,0.001375,0.009296,0.010866,0.006400,0.015529
4,0.001235,-0.001853,0.000000,NaN,NaN,-0.003989,0.003840,0.000000,-0.000553,0.000000,...,-0.000205,0.003068,0.000504,0.003544,NaN,0.000412,0.002632,0.000000,0.000000,0.001854