### WE take the daily_crsp dataset and see if it has some interesting

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

crsp = pd.read_csv("../../../data/Targets/daily_crsp.csv", )

crsp.head()

C:\Users\Filo\AppData\Local\Temp\ipykernel_2644\1432599301.py:6: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  crsp = pd.read_csv("../../../data/Targets/daily_crsp.csv", )

,PERMNO,HdrCUSIP,CUSIP,Ticker,TradingSymbol,PERMCO,SICCD,NAICS,DlyCalDt,DlyRet,sprtrn
0,10001,36720410,29274A10,EWST,EWST,7953,4920,0,2000-01-03,0.007353,-0.009549
1,10001,36720410,29274A10,EWST,EWST,7953,4920,0,2000-01-04,-0.014599,-0.038345
2,10001,36720410,29274A10,EWST,EWST,7953,4920,0,2000-01-05,0.014815,0.001922
3,10001,36720410,29274A10,EWST,EWST,7953,4920,0,2000-01-06,-0.007299,0.000956
4,10001,36720410,29274A10,EWST,EWST,7953,4920,0,2000-01-07,-0.007353,0.027090

In [3]:
crsp["DATE"] = pd.to_datetime(crsp["DlyCalDt"])

crsp_hf = crsp[(crsp["DATE"] >= "2001-12-01") & (crsp["DATE"] <= "2001-12-31")][["PERMNO", "SICCD", "TradingSymbol"]]
crsp_hf.shape

(153067, 3)

In [4]:
crsp_hf.head()

     PERMNO  SICCD TradingSymbol
480   10001   4920          EWST
481   10001   4920          EWST
482   10001   4920          EWST
483   10001   4920          EWST
484   10001   4920          EWST

we can use this dataset to get the permno and the industry for our hf stocks

In [5]:
crsp_features = crsp_hf[["PERMNO", "SICCD", "TradingSymbol"]].drop_duplicates()

crsp_features

          PERMNO  SICCD TradingSymbol
480        10001   4920          EWST
4906       10002   6020          SABC
8423       10012   3670          DPAC
10165      10019   3610          IFRS
10782      10025   3070          AEPI
...          ...    ...           ...
45869048   92807   6021          ASRV
46056087   92874   3690          VIDE
46213099   92930   3714         VOLVY
46581562   93105   6020          WBPR
46581564   93105   6035           NaN

[7763 rows x 3 columns]

In [2]:
import pandas as pd 
hf = pd.read_parquet("../../../data/high_10m.parquet")

hf.head()

,DATE,SYMBOL,TIME,ALL_EX,MID_OPEN,SUM_DELTA,RETURN_NoOVERNIGHT,RETURN_SiOVERNIGHT
0,2021-12-01,A,09:30:00,DNYBTJVPCZUKXHA,152.190,-8.401819,0.000000,0.000000
1,2021-12-01,A,09:40:00,PBTJVDZUYKNHCXM,150.490,0.473357,-0.011170,-0.011170
2,2021-12-01,A,09:50:00,KDPBTJVNZUCXYH,151.475,-10.867709,0.006545,0.006545
3,2021-12-01,A,10:00:00,DABTJNKYVPZUXCH,150.510,-0.125414,-0.006371,-0.006371
4,2021-12-01,A,10:10:00,DVJTPNKUZYACBXHM,151.960,-1.274648,0.009634,0.009634

In [7]:
hf_merged = hf.merge(crsp_features, left_on= "SYMBOL", right_on="TradingSymbol", how = "left")

hf_merged.head()

,DATE,SYMBOL,TIME,ALL_EX,MID_OPEN,SUM_DELTA,RETURN_NoOVERNIGHT,RETURN_SiOVERNIGHT,PERMNO,SICCD,TradingSymbol
0,2021-12-01,A,09:30:00,DNYBTJVPCZUKXHA,152.190,-8.401819,0.000000,0.000000,NaN,NaN,NaN
1,2021-12-01,A,09:40:00,PBTJVDZUYKNHCXM,150.490,0.473357,-0.011170,-0.011170,NaN,NaN,NaN
2,2021-12-01,A,09:50:00,KDPBTJVNZUCXYH,151.475,-10.867709,0.006545,0.006545,NaN,NaN,NaN
3,2021-12-01,A,10:00:00,DABTJNKYVPZUXCH,150.510,-0.125414,-0.006371,-0.006371,NaN,NaN,NaN
4,2021-12-01,A,10:10:00,DVJTPNKUZYACBXHM,151.960,-1.274648,0.009634,0.009634,NaN,NaN,NaN

sevesoletizia 
pw: Casabianca3!

In [10]:
import sys
from pathlib import Path

# Add the root directory (2 levels up from your notebook)
sys.path.append(str(Path.cwd().resolve().parents[2]))

# Now you can import
from utils.tool_kit import augment_features

df_final = augment_features(df = hf_merged, symbol_col = "SYMBOL", return_col="RETURN_NoOVERNIGHT", time_col= "DATE")

df_final.head()

,DATE,SYMBOL,TIME,ALL_EX,MID_OPEN,SUM_DELTA,RETURN_NoOVERNIGHT,RETURN_SiOVERNIGHT,PERMNO,SICCD,...,ma_1h,std_1h,return_cos,return_sin,return_tanh,return_exp,return_sign,return_square,return_log1p,return_relu
0,2021-12-01,A,09:30:00,DNYBTJVPCZUKXHA,152.190,-8.401819,0.000000,0.000000,NaN,NaN,...,0.000000,NaN,1.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000
1,2021-12-01,A,09:40:00,PBTJVDZUYKNHCXM,150.490,0.473357,-0.011170,-0.011170,NaN,NaN,...,-0.005585,0.007899,0.999938,-0.011170,-0.011170,0.988892,-1.0,0.000125,-0.011108,0.000000
2,2021-12-01,A,09:50:00,KDPBTJVNZUCXYH,151.475,-10.867709,0.006545,0.006545,NaN,NaN,...,-0.001542,0.008958,0.999979,0.006545,0.006545,1.006567,1.0,0.000043,0.006524,0.006545
3,2021-12-01,A,10:00:00,DABTJNKYVPZUXCH,150.510,-0.125414,-0.006371,-0.006371,NaN,NaN,...,-0.002749,0.007702,0.999980,-0.006371,-0.006371,0.993650,-1.0,0.000041,-0.006350,0.000000
4,2021-12-01,A,10:10:00,DVJTPNKUZYACBXHM,151.960,-1.274648,0.009634,0.009634,NaN,NaN,...,-0.000272,0.008670,0.999954,0.009634,0.009634,1.009680,1.0,0.000093,0.009588,0.009634

In [11]:
df_final.to_parquet("../../../data/data_transformer.parquet", index= False)

In [13]:
import wrds

wrds_db = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [15]:
countries = pd.read_excel('https://github.com/bkelly-lab/ReplicationCrisis/raw/master/GlobalFactors/Country%20Classification.xlsx')
countries_rel = countries[countries['msci_development'] == 'developed']['excntry'].tolist()

In [19]:
chars = pd.read_excel('https://github.com/bkelly-lab/ReplicationCrisis/raw/master/GlobalFactors/Factor%20Details.xlsx')
chars_rel = chars[chars['abr_jkp'].notna()]['abr_jkp'].tolist()

char = pd.read_csv("../../../data/charateristics.csv")
char_dict = dict(zip(char['abr_jkp'], char['name_new']))

In [22]:
char_dict

{'niq_su': 'Standardized earnings surprise',
 nan: 'Probability of information-based trading',
 'ret_6_1': 'Price momentum t-6 to t-1',
 'ret_12_1': 'Price momentum t-12 to t-1',
 'saleq_su': 'Standardized Revenue surprise',
 'tax_gr1a': 'Tax expense surprise',
 'ni_inc8q': 'Number of consecutive quarters with earnings increases',
 'prc_highprc_252d': 'Current price to high price over last year',
 'resff3_6_1': 'Residual momentum t-6 to t-1',
 'resff3_12_1': 'Residual momentum t-12 to t-1',
 'be_me': 'Book-to-market equity',
 'debt_me': 'Debt-to-market',
 'at_me': 'Assets-to-market',
 'ret_60_12': 'Long-term reversal',
 'ni_me': 'Earnings-to-price',
 'fcf_me': 'Free cash flow-to-price',
 'div12m_me': 'Dividend yield',
 'eqpo_me': 'Payout yield',
 'eqnpo_me': 'Net payout yield',
 'sale_gr3': 'Sales Growth (3 years)',
 'sale_gr1': 'Sales Growth (1 year)',
 'ebitda_mev': 'Ebitda-to-market enterprise value',
 'sale_me': 'Sales-to-market',
 'ocf_me': 'Operating cash flow-to-market',
 'ival_me': 'Intrinsic value-to-market',
 'bev_mev': 'Book-to-market enterprise value',
 'netdebt_me': 'Net debt-to-price',
 'eq_dur': 'Equity duration',
 'capex_abn': 'Abnormal corporate investment',
 'at_gr1': 'Asset Growth',
 'ppeinv_gr1a': 'Change PPE and Inventory',
 'noa_at': 'Net operating assets',
 'noa_gr1a': 'Change in net operating assets',
 'lnoa_gr1a': 'Change in long-term net operating assets',
 'capx_gr1': 'CAPEX growth (1 year)',
 'capx_gr2': 'CAPEX growth (2 years)',
 'capx_gr3': 'CAPEX growth (3 years)',
 'chcsho_12m': 'Net stock issues',
 'eqnpo_12m': 'Equity net payout',
 'debt_gr3': 'Growth in book debt (3 years)',
 'inv_gr1': 'Inventory growth',
 'inv_gr1a': 'Inventory change',
 'oaccruals_at': 'Operating accruals',
 'taccruals_at': 'Total accruals',
 'cowc_gr1a': 'Change in current operating working capital',
 'coa_gr1a': 'Change in current operating assets',
 'col_gr1a': 'Change in current operating liabilities',
 'nncoa_gr1a': 'Change in net noncurrent operating assets',
 'ncoa_gr1a': 'Change in noncurrent operating assets',
 'ncol_gr1a': 'Change in noncurrent operating liabilities',
 'nfna_gr1a': 'Change in net financial assets',
 'sti_gr1a': 'Change in short-term investments',
 'lti_gr1a': 'Change in long-term investments',
 'fnl_gr1a': 'Change in financial liabilities',
 'be_gr1a': 'Change in common equity',
 'oaccruals_ni': 'Percent operating accruals',
 'taccruals_ni': 'Percent total accruals',
 'netis_at': 'Net total issuance',
 'eqnetis_at': 'Net equity issuance',
 'dbnetis_at': 'Net debt issuance',
 'niq_be': 'Quarterly return on equity',
 'niq_be_chg1': 'Change in quarterly return on equity',
 'niq_at': 'Quarterly return on assets',
 'niq_at_chg1': 'Change in quarterly return on assets',
 'ebit_bev': 'Return on net operating assets',
 'ebit_sale': 'Profit margin',
 'sale_bev': 'Asset turnover',
 'at_turnover': 'Capital turnover',
 'gp_at': 'Gross profits-to-assets',
 'gp_atl1': 'Gross profits-to-lagged assets',
 'ope_be': 'Operating profits-to-book equity',
 'ope_bel1': 'Operating profits-to-lagged book equity',
 'op_at': 'Operating profits-to-book assets',
 'op_atl1': 'Operating profits-to-lagged book assets',
 'cop_at': 'Cash-based operating profits-to-book assets',
 'cop_atl1': 'Cash-based operating profits-to-lagged book assets',
 'f_score': 'Pitroski F-score',
 'o_score': 'Ohlson O-score',
 'z_score': 'Altman Z-score',
 'pi_nix': 'Taxable income-to-book income',
 'at_be': 'Book leverage',
 'saleq_gr1': 'Sales growth (1 quarter)',
 'rd_me': 'R&D-to-market',
 'rd_sale': 'R&D-to-sales',
 'opex_at': 'Operating leverage',
 'emp_gr1': 'Hiring rate',
 'rd5_at': 'R&D capital-to-book assets',
 'age': 'Firm age',
 'dsale_dinv': 'Change sales minus change Inventory',
 'dsale_drec': 'Change sales minus change receivables',
 'dgp_dsale': 'Change gross margin minus change sales',
 'dsale_dsga': 'Change sales minus change SG&A',
 'sale_emp_gr1': 'Labor force efficiency',
 'tangibility': 'Asset tangibility',
 'kz_index': 'Kaplan-Zingales index',
 'ocfq_saleq_std': 'Cash flow volatility',
 'cash_at': 'Cash-to-assets',
 'ni_ar1': 'Earnings persistence',
 'ni_ivol': 'Earnings volatility',
 'earnings_variability': 'Earnings variability',
 'aliq_at': 'Liquidity of book assets',
 'aliq_mat': 'Liquidity of market assets',
 'seas_1_1an': 'Year 1-lagged return, annual',
 'seas_1_1na': 'Year 1-lagged return, nonannual',
 'seas_2_5an': 'Years 2-5 lagged returns, annual',
 'seas_2_5na': 'Years 2-5 lagged returns, nonannual',
 'seas_6_10an': 'Years 6-10 lagged returns, annual',
 'seas_6_10na': 'Years 6-10 lagged returns, nonannual',
 'seas_11_15an': 'Years 11-15 lagged returns, annual',
 'seas_11_15na': 'Years 11-15 lagged returns, nonannual',
 'seas_16_20an': 'Years 16-20 lagged returns, annual',
 'seas_16_20na': 'Years 16-20 lagged returns, nonannual',
 'market_equity': 'Market Equity',
 'ivol_ff3_21d': 'Idiosyncratic volatility from the Fama-French 3-factor model',
 'ivol_capm_252d': 'Idiosyncratic volatility from the CAPM (252 days)',
 'ivol_capm_21d': 'Idiosyncratic volatility from the CAPM (21 days)',
 'ivol_hxz4_21d': 'Idiosyncratic volatility from the q-factor model',
 'rvol_21d': 'Return volatility',
 'beta_60m': 'Market Beta',
 'betabab_1260d': 'Frazzini-Pedersen market beta',
 'beta_dimson_21d': 'Dimson beta',
 'turnover_126d': 'Share turnover',
 'turnover_var_126d': 'Coefficient of variation for share turnover',
 'dolvol_126d': 'Dollar trading volume',
 'dolvol_var_126d': 'Coefficient of variation for dollar trading volume',
 'prc': 'Price per share',
 'ami_126d': 'Amihud Measure',
 'zero_trades_21d': 'Number of zero trades with turnover as tiebreaker (1 month)',
 'zero_trades_126d': 'Number of zero trades with turnover as tiebreaker (6 months)',
 'zero_trades_252d': 'Number of zero trades with turnover as tiebreaker (12 months)',
 'rmax1_21d': 'Maximum daily return',
 'rskew_21d': 'Total skewness',
 'iskew_capm_21d': 'Idiosyncratic skewness from the CAPM',
 'iskew_ff3_21d': 'Idiosyncratic skewness from the Fama-French 3-factor model',
 'iskew_hxz4_21d': 'Idiosyncratic skewness from the q-factor model',
 'coskew_21d': 'Coskewness',
 'ret_1_0': 'Short-term reversal',
 'betadown_252d': 'Downside beta',
 'bidaskhl_21d': 'The high-low bid-ask spread',
 'ret_3_1': 'Price momentum t-3 to t-1',
 'ret_9_1': 'Price momentum t-9 to t-1',
 'ret_12_7': 'Price momentum t-12 to t-7',
 'corr_1260d': 'Market correlation',
 'rmax5_21d': 'Highest 5 days of return',
 'rmax5_rvol_21d': 'Highest 5 days of return scaled by volatility',
 'ni_be': 'Return on equity',
 'ocf_at': 'Operating cash flow to assets',
 'ocf_at_chg1': 'Change in operating cash flow to assets',
 'mispricing_perf': 'Mispricing factor: Performance',
 'mispricing_mgmt': 'Mispricing factor: Management',
 'qmj': 'Quality minus Junk: Composite',
 'qmj_prof': 'Quality minus Junk: Profitability',
 'qmj_growth': 'Quality minus Junk: Growth',
 'qmj_safety': 'Quality minus Junk: Safety'}

Interesting features for us are